<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".HikitugiCheckActivity"></activity>
        <activity android:name=".AccountInputCheckActivity" />
        <activity android:name=".TrainGreatCircleDescriptionActivity" />
        <activity android:name=".MeasurementTimerEndActivity" />
        <activity android:name=".TrainGluteusMaximusDescriptionActivity" />
        <activity android:name=".TrainGluteusMaximusActivity" />
        <activity android:name=".TrainLatissimusdorsiDescriptionActivity" />
        <activity android:name=".TrainTricepsDescriptionActivity" />
        <activity android:name=".TrainBicepsDescriptionActivity" />
        <activity android:name=".TrainHamstringDescriptionActivity" />
        <activity android:name=".TrainCalfDescriptionActivity" />
        <activity android:name=".TrainLatissimusdorsiActivity" />
        <activity android:name=".TrainGreatcirclemusculeActivity" />
        <activity android:name=".TrainButtocksActivity" />
        <activity android:name=".TrainAbdominalObliquesActivity" />
        <activity android:name=".TrainHamstringActivity" />
        <activity android:name=".TrainCalfActivity" />
        <activity android:name=".TrainRectusmuscleActivity" />
        <activity android:name=".TrainPectoralisMajorActivity" />
        <activity android:name=".TrainTricepsActivity" />
        <activity android:name=".TrainBicepsActivity" />
        <activity android:name=".TempoIntervalActivity" />
        <activity android:name=".TimerSetCountActivity" />
        <activity android:name=".DBActivity" />
        <activity android:name=".InputNewPasswordActivity" />
        <activity android:name=".Input_New_PasswordActivity" />
        <activity android:name=".hikitugiErrorActivity" />
        <activity android:name=".AccountInputErrorActivity" />
        <activity android:name=".AccountInputActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HelpCalenderActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".IrregularPasswordActivity" />
        <activity android:name=".InputPasswordActivity" />
        <activity android:name=".InputMailActivity" />
        <activity android:name=".CalenderActivity" />
        <activity android:name=".BlankPasswordActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".HelpShopActivity" />
        <activity android:name=".HikitugiActivity" />
        <activity android:name=".HelpTrainActivity" />
        <activity android:name=".HelpPointActivity" />
        <activity android:name=".HelpMeasurmentActivity" />
        <activity android:name=".HelpAccountActivity" />
        <activity android:name=".TrainDeltoidActivity" />
        <activity android:name=".TrainDeltoidDescriptionActivity" />
        <activity android:name=".TrainCenterActivity" />
        <activity android:name=".TrainLegsActivity" />
        <activity android:name=".TrainArmActivity" />
        <activity android:name=".TrainBackActivity" />
        <activity android:name=".TrainBigActivity" />
        <activity android:name=".ShopMachineActivity" />
        <activity android:name=".startActivity" />
        <activity android:name=".ShopSupplyActivity" />
        <activity android:name=".ApplyCompleteActivity" />
        <activity android:name=".MeasurementTempoActivity" />
        <activity android:name=".MeasurementTimerActivity" />
        <activity android:name=".ErrorInputTrainNameActivity" />
        <activity android:name=".InputTrainNameActivity" />
        <activity android:name=".InputTrainNameErrorActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ShopActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name" />
    </application>

</manifest>